@font-face {
  font-family: 'flexy';
  src:url('../fonts/flexy.eot');
}

@font-face {
  font-family: 'flexy';
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AABVEAAsAAAAAHtQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAAEiIAABog91rmoEZGVE0AABMsAAAAGgAAABxmgsAAR0RFRgAAE0gAAAAdAAAAIAAxAARPUy8yAAATaAAAAEsAAABgL9zbtGNtYXAAABO0AAAAPQAAAVLgE/LNaGVhZAAAE/QAAAAuAAAANv4YkYtoaGVhAAAUJAAAAB4AAAAkBBD/5GhtdHgAABREAAAADgAAAA4DdAAAbWF4cAAAFFQAAAAGAAAABgAEUABuYW1lAAAUXAAAANwAAAFxjeajTXBvc3QAABU4AAAADAAAACAAAwAAeJxNmXd8lFXWx+9MJskkpBN6AEGaFAEFpQgWNK9KeRFZZC2IikgXFBDBd1WKohGkLVIUERERWHRd1l1ZQEQFVJaugDSRFjqkTpKZOfv9zZP18/LHw5n73Ofcc0/9nROfCwScz+dLGDzi6QkvOp/f+VzXUD1/qH5cqGYgLyUuLyVQL9nVejDL8vJ+J1IS3xwWmhcaF5/jJqfnOJeR497IzHHBnNo1s1y8eARduqvu6rjrxo0amtumTRv+u+f3/9rGDvNOdM73um+67w0X0GcBl5aytdaU0Ly0vNDYQHheaF5imrnVTc6Z77htqmbsDhr/OsWbS0iK8LtmH3OBx0abRU8dMxec86xZpOt4qDu+g+rP2+RPbjWr+CTMvu/DrPWNmkvq971Z+Y9bYfBhVuW32eHLZvsmDoDznlVm116/ClV8u1lBm+XmfMt68e387VD6IjL/B87Im2pW2HIH1I+vsW/DGqgfNkNtHG0udUZvswtbh5hL3IHQRXlbg5A/3h0joeaOh7oBsXyTGpqFK/JFDYIKwyZubbZZ2fzp5vyRNojfCjWkvtPD7Hx2R3NV/LPMfh39JG8X7Dc7ywvnSn4wK7nyKGu/pSDWj9Og3knmmo3eNRe/GgELWy9hX9d/su/EjzCti9quHmvPlg/eNLsy4BazfJha/plzZuckS/ETCYhe8nUCuz/syx4fVPGldCT/E2xCwWKz4w04+FyXv5nt7j+PG1+abXYk4zTib1vLljFD0O9fm/LzLoS2FPiV/SUNqjdb7ElEtUtzeAx0PC7ez2PQwzyu8UX0q9ugjraG2vg5VD6nRTdxrv2WymNOKx6hPjxmzBaX/9VaQWyNQ4on94Ss+RPUuDugpPji579AAW8vgVX/n1HyX7Fz/tLJ2Ln7VqjUOZhgfq48rPfyPLY/B7cLUx+Oh6wyDd1/Pgpq7zWz0p66wbCuKDaPF3YSl7ADu3iceIPHT1u01je2Jm5fLjI3osVW+FjBjeayPm5hrubOftzmvTE4aO8PzaWXBMw2for5blx+1Fz3kly0fcGPq/46BY357mVtbsjsB8ziGtd+31yXpA54glinrsBeJaPg90OTxmZfbG+L6e/EUtEd6PN8Dbwjk312asqfzQ2ZdJa3r8Kv1jd9oT6qjzdvSTFXo2N/LrZ4BTqQ4U62/Le52ivO4bQZt/8f/KedMtfz2AuotzVStkhcC9eXbzOX8tb9hNbChWhxOZ5WZT/xFZiShWrOrETb95bAcPZFKIQh2PnMlVXnsfAwFvjmICL0nYioK9dxUPDvONodjlv3xg8jeIKLr7MCqt1EOI/srVDljOTbN7HW/hXusJeAL+7+mrn69YinAsVT9QcuovSIvxdy7P2MgOrTEtmGTuDjqXwcFzf/dwoThUbshPXP06Fih4ydKAo2VXAWKxjGIdkxzdxGWKZ26ytq2H+pXr9w/7nsi16Pav05w0RJq3XOQL2aAPXw0jwuu7HIe3K9tugiedFSoq7eP/m6g5y1vF77GMnRl2GZ3vEIF+iGDhOeHsjbUYc40IeI5YXjEHu43+zMP3aRbFoomwSfY+0osVw+ApO5lSWsNW3B+VjCrmwmD0YHnyc+3J2cnvwKnGcPxROVNCOziU57dA3UC7vkjjfys/9cqKvLRWWIwhLhZXv5SSKx8IzZeQgc+g63iS7A7YsCR/n6yd046ZeHkeFvOGn4Yxwo0mwd39SqDsXFnJMg5YjpXAvkjx4tgkolk1hL/MKl4b2mff4PcE339DLupATnu0YC9c+6jsf6pebSlpImCoLrlAhIV4dXEyFx/fd7yQZnuwmj9O2EZlKI39Otl7yJXy8j57i4Rfr6AGIW7m6A36TNZ/u5W9Hw5qkEY5Pz5qr25s7hbxcTv59MwHdmNSAN7S1Ahrpkn1AS3pH02BhCvGlzpCloBevVd8M5gW+rUFXskqzY7C1Oq/YMCjjfdhX7JqDD4q7lJHzltYKaGawNXsmaETu+CypBa/uxRkp3jhLk/J0JUN+S8bAJPDgW8v2XWCS1unhKAUVyCj8pZxZNuY/TO8A/Qi5xcemPQo1awFsCz8K5jVHDOnSRtQG3vNovwJY/1sCRBjfiRfnjeGEtkkfcNaSs1owoTe5JGr14O6clPTST2ygxphWO5VtFVeLnJMOLrxCbqckvkx5+I5sf6I76O3a/2wt4O92kEa5x7diXZlu+xI2bp5Iln30+ROp6cg/+rY01dcVA1XEk5Eu83VP/K7PNR7lXNu5uBRImQQWlDAO6lKaf4mDy6tSXifiiGjPIOUc/54b3kIwS17wlfyOlJ95zEnVclB/t3wi15wJbxpGEw53qorYhREThDrgE5ZJR3/9wRj/l1x6sBTJXIXR4cX5lhnKfHleB2QProSrOqiBnh8ehqKT12H5DM4pd7jMIM/157rDvZuWSxSSdh4ifou034QpUcotQZFzc/o5Qvfp5RsNK2bD/mlJb0ekEazJLUS2yYGAOdaWs6j/4QqFYuvROxJ9IhihZqUy+YTjUs/Dzv7ATpfgSR+IaviCvfLnKsBQa51t4uB6MFvRhQ4suVMxrm3C5oMpwxd7PBDz6TuKWcq3MNMTI6NUPCJX9JDmy6oSf0PRw4EJ8H3y6qkptRDFSnd0WeYMYCW5HgxUqAKmkfbu6eJCcsxXuUpFxGj7uVeLMHavg8cpdPKYgkaMeOdd3EjudYFjS5UPamXEGYSmXzt0H43hFjLuJY+M241kuAZ91r+kRf0rUM1o7J2owjzqUPv/8XCjSm/NT/52j4Dn/n1+FatUbLjkkadf5eqiFuLprNwlqlNQ+ch86qLZFqaU+VHWiwU3ECokPCTupXCXKeE6OmpCJF7q7VXy6ZUn+TgRL8PqfBS3mQtX+DWosZS7YiJAO/+EOYmwmeC0SegCd3kdoln48EkW3lWdFFaDll1G3RRZSR8pygJkVz+Jk4YXkxpAUaoJGFTsPsWUjGbgie6OXIC0MznD+g8CqsOxnf5BPT6MkROe9BDWIhBz5eTv8j9zAzwtgvEgMzx7BtSoGfleJ9ipeH8Haqs2qrVMFSsiC5TNVeb9EggtViSD/IW5yNgF3SnkCZOsymxGqnQbo8tQd52oAJE2h62r115rsjQ4BcD3RXIvXKut5UvM/YV55VZWiTbIiTul6iItYux73/9ey3ZX3bsEI/i3Ke72yJYw4j1HOVFb3PwCV+c5M+D1VFW9zaDkwtRaPLxAooS1lIWE8CSXjAFsSyo5w+IB2CBR5Ttn+VskbpQ/wF8s3rnEdNxhH8rWhkrhDNQSBuGfaU3hqnMSqFaPGiGvjJ9gChHMBuY+bRLqMe1+3Sd2LPVdsaA6g6zyoGjrElaxCdSGAiHZEVSoum5/pXW4MYrjt5SfoW6Ljq0kWwVZ7KV68vhIOHOXxN5v6qM6Ek0l5tZ46gKJnksXTVFPDSm+S1yJ/ukV3ILNHdy3x7mWWXlt37VFpkaQBXNgJ92QcxOnKpPOENiCRsjfWS3k1kfa+9VIoPlJhmzwl2+Uhcvwx5yt7I9dLJTuWWdrjbpEuo2P2a8Jx1HaowaIkVvwyKFUYWdyKqvjlBQtIVj9Nlmfg06H9GzzZSJphedBFHjFYGFvLL/Eygp39bqDnfla4ZLznkhZpws/yt1XUcs/Ldaco8NfKnQkun0JBLm6mjBpZRtz6gF6EwrCYFZTUB5GY/ZQ2Yoag9w3f6sWRc6u6QvXYwXdNRyjeuLavAT8rdtXhC1WiUOIIAbbRXqy6OCGoyELqZcLJLEX1rcCv+MxV8V6s22Wh+YiakQtfBJQT6BsvjdFtxxLLpYdXKHdgk9LTA70ExVq+l2SsfIPiSjYpu0xQusnUnlDMqJPYF1oJvHODAFmhc+u9RGah818ruXXioBiy7kStCMu93Y2kobAKghKjRVTBHN0zuEBJMAalh4Zj9uQ+9uJhWfGkqIVe9oVa5GVkC98un7/vRQSkqcFOoKNo3TGV+dxKMpvGV4pjq7cp80+Rgw9XNaC5tAYJlTXCBa7Uifcqh0sfdMSrJi6gRlsVxvnH53pVx/lbH/cqkZWvreZVJ7v4mjqQTMHDK7RrLvFBfDDu21pwDCpJxU5o0QVYmUbHX1kBfYvq6ZnbCDly1oAEo6W79Az9pEp6DCVMb6vqepNQtnC8UGUEH6EKg3fCH85XZQaDV4xUjetEvo9qn3CWWdcXVNVRdNQ2eZXewi3V4W9vIzi8WIiAM859PFKL0zFfO3opO/EvLludJAecALaHS14XxABTRM+2EOxQb16Xyh1+l1xuNxMBV9RlVlxWn0j/Z2UCfYU7uEjpgWRhm/dhMH+78A6OFnmzqzCQ2s0W0ypxeGj9AGElwjT04DgPP9nlhinCVDSGBdRqcBZuX3iwj7AXXMqOtQ8KkCHHhY2tBdLS6UiPbxJwu4QwF/8tMEczULiOyG7Ox27WW0kCfcCNLigcJIj31T70C2XmfirO1nVRDzG6nLpthCI/w9hCkWmF4J30nxOENoF1WY+/JARKB15VgDzu2gUANNcEqdYFLJ8Z7KFXK1h4RIj2Br6VOsK5ZKPS7lvV8KkBjlCeMNM7vLmqFiyFe4bVGvjct7wQCPb3xwvK/bsRtQ+QNjpwqjD3R1BP0Hn448jkFpclbK7O/gHiy/8MBkp2k4Xha3Kbs1eFxUgAyV/f62F9V23nAuF/POOA8G6cUlkRFdf5r2nGEJs5PUbHU+9Qda+fcIklAQXIrOWoolWaGg9YN+9HbavZlIRyUaMAd64DJlGzW7ibLuzMtSZqZAag7ma4riGR5YtrUB1O7d3XeR2QC65RCfwjJyV0mKfhCVsaSYS0paCz1NJkdVSDUMc99dRlXceW9Bx1XgkwXZSjboz647YpLcnCbt94r2tzvoY6yclC8Q3VEgoN+LeN8Fo+5z/QQ20gGSS+h3xf5d//Hjk09O0xPlZTFJ6xP0/9JOnaHR7k9ZjOl77kd4rbRSZkqkj19fpT55btFqVEt2ym18e6QPEdXm8L8sXiRU1U29VXqgc2A9TRFxPj4Ya9gmqWq+Al+9FjeRGQPDxvg9dUW4HKcqQbJi9b9Kuab9aufnfKa8itUHOQ8vqdRQm0gTms+GlSC4AtzXt6Xb5FPlrqdf4WOXlQ1EFR8zUhwBULFW2ltw33RoRQl0Rd1nThZY0Iz2visKFyRAj5kjcitNCIPI0INR2ZelSDwWHe4CI2IrQwaD02IrSIv6c3IrSC5iSBcyRPK6bZsl9PvOnNSeyMwHr01CO82HyX5ikgjyK1HRFqpJWfelcFlhclpCGLUnLsSkmu5jOgkcgazS7KCD4b3NjrkixKW4uzaSA3qp/8eDLVvpxeySV8VA/WpKDYYMgqBg/2hkV2WeMQDZBc4u6G3lDJJVEFYpMmO60mvnTxWQHmTM78mhqSv62FplSoMfLI9ZpcfSQYVOZNs1ydSfmacKnbzn9OUy/6sYgmhpqEufaHDms6dhidEO+ucW0MtKXke2+K5tpPPRrUaI1wSIiWe+M2l5E9yRvB2Z5H6DSS+7TEGap080Z1YJxZ3vjOLvWfVznUs7n7O2mod1LDhKZXNP7jjq55F28k6Fyz570xoZWPxb7F+xScn2tiVQXkWq3nPs0pn6fHz560whs6xntjSIsO/ZdGk6D1snUdNa5EO2E6ydh2s9FPaaz5jUCA+FJwnaOKxOafziWO1Ex0L1TWZ1CxyEm8onlqZ9WYIm+eCqjvoTEK13cN3/bmrkQ+EWCPq/LTjwLieomL2tO/pKtI1dEcV2uFIW+263y9DnGLI5lDlW36aAiMZ2Trk+MNEKv6ll7esNglllbxBsguWUVWQ2UXePQGTZpXsPZ+Z02faTtrqOMu/wDIkfFBbEqNqOkNhEAovC6JHOviV8u9dmv+PR+Txv9ywpt6u5R2ArAc5JKAK85PbnA1h/xdE/O3zdV/+z3Sn76odmFbUKP11t6I0MUJb2hEGBvBx0aE/49KnNtOI8Jcje+7eSNCqGneiNClzpijEeEi/RXAr8Fglqit3ojQBfMkqgzvU87zD+0gKkXUBP19ga4mdVfsbw5YKe2Fnfo7xCVzLacts9jfJpwP0Bb7e4WLv/mLoPdHDK9DSl4pHKWSFrxTk0Zl4CAx7fwgYhd4bIw+bqg/lAh6n13Lxw89g2ssrUpHAkQGPl7dojII9HTXP/urGhrQaaBkejAtFMzOq5aXkvwfMZ0ZagAAeJxjYGBgZACCk535hiD6XM2KdBgNAESxBqYAAHicY2BkYGDgA2IJBhBgYmAEQmYgZgHzGAAEawA2AAAAeJxjYGYsYZzAwMrAwejDmMbAwOAOpb8ySDK0MDAwMbAyM8CBAILJEJDmmsLg8IDhAwPjg/8PGPQYHzAoNDAwMMIVKAAhIwA6CAySAHicY2BgYGaAYBkGRgYQ8AHyGMF8FgYDIM0BhEwgiQeMHxj+/wezGCAsBSYBRqguMGBkY0DmjkgAAMqDCK8AAAB4nGNgZGBgAOIwi+uC8fw2Xxm4mRhA4FzNinQE/f8BEwPjAyCXgwEsDQAfgQqjAAB4nGNgZGBgfPD/AYMeEwMDwz8GIAkUQQHMAG3nA/YAAAIAAAAAAAAAAXQAAAAAAAAAAFAAAAQAAHicbY49agMxEIW/tXcd8oOLFKlFyoAXadO5Nj5ACvcu5MWw7AbZBuccAbeucowcIAfIffJ2PZAiEZLme6OnmQHuOJHRr4xC6sIjrng0HotejXN5zsYFt3waT6S+5czya2Vuhl89j5hybzxmwZNxLs+7ccEDH8YT5b/Y0BA58gabJh4VXqRrDsqvSZKxPjRrwZKOlv0QkxwRR0WJV5zr/Fa66KCXmd2V7sCzinTtftmlOrqq9G7uhp6Kwc+0Kx/k+TvSSjqxYzuM0Jfu27KKabftWhdK/8+vH0ziMzx4nGNgZsALAAB9AAQ=) format('woff'),
     url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWaCwAAAAAuoAAAAHEdERUYAMwAGAAALiAAAACBPUy8yL7rbkwAAAVgAAABWY21hcOAV89QAAAHIAAABUmdhc3D//wADAAALgAAAAAhnbHlm0meS+AAAAywAAAaYaGVhZP4XkYsAAADcAAAANmhoZWEED//mAAABFAAAACRobXR4BCEAAAAAAbAAAAAWbG9jYQNaAbAAAAMcAAAADm1heHAASgErAAABOAAAACBuYW1ljeajTQAACcQAAAFxcG9zdN3b5/QAAAs4AAAARgABAAAAAQAAM3DLSV8PPPUACwIAAAAAAM58qGcAAAAAznyoZ////+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AALgIA///+AAIAAAEAAAAAAAAAAAAAAAAAAAAFAAEAAAAGASgAAgAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQF0AZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQMAAAAAAAAAAAAAEAAAAAAAAAAAAAAAUGZFZABA4ADwAAHg/+AALgHgACCAAAABAAAAAAAAAgAAAAAAAAAAqgAAAAAAAAF0AAAAAwAAAAAAAwAAAAMAAAAcAAEAAAAAAEwAAwABAAAAHAAEADAAAAAIAAgAAgAAAADgAfAA//8AAAAA4ADwAP//AAAgBBADAAEAAAAAAAAAAAAAAQYAAAEAAAAAAAAAAQIAAAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4BsANMAAAAAQAA/+ACAAHgAAIAABEBIQIA/gAB4P4AAAAAAAL////hAXEB4AEiAScAABMiBwYHBiMiBgcGBxQHMBUGFxQWFxY3Mjc2NxY3Nj8BFhcWBxQHFAcUBhUUFTAVBh0BBgcnLgEnJgYPAScuASMiFRQXFhceATMWFz4BFzIXHgIXHgIXHgEXHgMXFjc2JyYHBi4BNyYXMhcWJzQnLgEnLgEOAgcGJyYXFhcGBwYHLgEnJgcUFxYHBicmJy4DBgcUFgcUJyYnLgInBgc0NSY3NjcyNjc2NzYXHgEXFhcWFBYXFhcWFxYXFhcWFx4BBwYHDgQHBiYnHgQXIgYmJzQ+AjciDgQuAScmJyIXDgEdATA1Fjc2PwEeARcWNzIwMjMwMzY3Njc+Ajc2JyYnJicmJyYnJicmJyYnLgEnJicmBxcGJyarBAonAQEGBxUEBgMBAgEcEgcHBQgFBQUIDAMCBQkBAQEBAQEBAQQKEREPFg8RCAYuBAMTARsCBgEOAQgnFAQEBwoKBAEDAQECBgcDCQYJBDAnDwYCAyM4FAcBBAIRBgMCBBgEAwQFAwYCAg4EAgMEBAQDAwEKAgkBAgQBAwcDAQECAQUJBwoCAgQCAQIHBgQFAQQHEwYCBRUQDw8TDQQFCgsHEA8PDgMCBhcEAgUDAgMBAQEEAwYGBCJYDwYSBQgCARE6QQgYHRsEAQoGDw0UFBoOCxcgLwQfAQ0EBAsONgMQEAEDAQIJCz04FSEfBAYHBQEFFwUDAw4NEQ8EAwwQCAcJDwxgAgICAwHgAQYEAggFBhQEBQESChEUAwMCBAMBAwQBCgUKLgsNBg0BFQEHAgYCAQoBCgEBBQwJAQIKDhADAxACAQUBCgECFhAkJgMBAgUJAwIEAgECFAoEDAcHAhAaCQMBAQVIXyAIAQ8FBgICCyQHBgMDBgkCBwMBBAQFCQECAgUZBQoFAwwQBBQXBwUDEAwMAQUBJQgLAQQSAhcZBgQBAgEHBAUEBAEFAgIFBgkKCxcWAwcYFxYVBgUJJSoSCQcTAgECAQcEBQQCCwMIBRAFCgkHAgwNBwwLGRINBw0GBQMKCggBIAcQC2wBCRQGBxUBCgEBAgECCyYPEB0NFBELECklCQUGFRMaFwUFGiEOBAQFBEcZCg0SAAAAAgAD/+EBdQHgASEBJgAAEyIHBgcOAQcGBwYHBgcGBwYHBgcGBwYXHgIXFhcWFzIxOgEwMxY3PgE3MxcWNzAVNTQmJzYnIgcOAi4EIx4DFQ4BJiM+BDcOAScuBCc0JyY2NzY3Njc2NzY3Njc+ATQ3Njc+ATc2FxYXHgEzFhcWBxQVJicOAgcGByc0NSY2NS4BDgIHBgcGJyY3NiYHDgEHJicmJzY3NiIOASYnLgMGBw4BBwYWNzYHFBUWDgEnJhUWFxY3PgI3PgE3PgI3PgI3NjM2Fhc2NzI2NzY3NjU0IyIGDwEnLgEHDgEPASYnNTQnNDE0NTQmNSY1JjU0NTY3FxYXFjcWFxYzFjc+ATU2JzQxJjUmJy4BIyI1JicmFzcWBwbJBwwPCQcIEAwDAxARDQ4DAwUXBAIFBwYEHyEVOD0LCQIBAwEQEAQ1DgEKDwceBS4dGAwOGhQUDQ8GCgEEGx0YCEE6EQEDBwYRBg9YIgQGBQQEAQIDAgMFAgQXBgIDDhAOEAcLCwQFDBMPDxAVBQIGEwcEAQQEBwcCAQEFAgIKBwgFAgIBAwYDAgEEAwQHAgkCAwMEAwMDAQIFBgUBAgUEBAUDBBgEAwEIEgEHFDcjBwIcISIGCBABBwYCAQEDAQQLCQcEBRQmCAEOAQYDGgETAwQuBgcREBYPEREKBAEBAQEBAQkFAgQLCAUFBgcFBwcTGwECAQMFBRUHBgInClMCBwUCAeAEBQQEDiEaBQUXGhMVBgUJJSkQCxEUDR0QDyYLAgECAQEKARUaAgFsCxAHHwEJCgoDBQYNBw0SGQsMBw0MAgcJCgUQBQgDCwIEBQQHAQIBAhMHCRIqJQkFBhUWFxgHAxYXCwoJBgUCAgUBBAQFBAcBAgEEBhkXAhEFBwECCCUBBQEMDBADEwQDCwQQDwMIBRkFAgIBCQUEAwECAwQCCQYDAwYHJAsGAwgRCwEBIF9IBQEDCgoLCwMHFAIKFAIBAQUCAwkFAgEDJiQQFgIBCgEFAQIQAwMQDgoCAQkMBQEBCgEKAQIGAgcBFQENBg0LLgoFCgEEAwEDBAIDAxQRChIBBQQUBgUIAgQGAWAZBRUHAAAAAAwAlgABAAAAAAABAAUADAABAAAAAAACAAcAIgABAAAAAAADACIAcAABAAAAAAAEAAUAnwABAAAAAAAFAAsAvQABAAAAAAAGAAUA1QADAAEECQABAAoAAAADAAEECQACAA4AEgADAAEECQADAEQAKgADAAEECQAEAAoAkwADAAEECQAFABYApQADAAEECQAGAAoAyQBmAGwAZQB4AHkAAGZsZXh5AABSAGUAZwB1AGwAYQByAABSZWd1bGFyAABGAG8AbgB0AEYAbwByAGcAZQAgADIALgAwACAAOgAgAGYAbABlAHgAeQAgADoAIAAxADAALQAxADAALQAyADAAMQAzAABGb250Rm9yZ2UgMi4wIDogZmxleHkgOiAxMC0xMC0yMDEzAABmAGwAZQB4AHkAAGZsZXh5AABWAGUAcgBzAGkAbwBuACAAMQAuADAAAFZlcnNpb24gMS4wAABmAGwAZQB4AHkAAGZsZXh5AAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAABAAIBAgEDAQQHdW5pRjAwMAd1bmlFMDAwB3VuaUUwMDEAAAAAAAH//wACAAEAAAAOAAAAGAAAAAAAAgABAAMABQABAAQAAAACAAAAAAABAAAAAMmJbzEAAAAAznyoZwAAAADOfKhn) format('truetype');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'flexy';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-strong-arm-right, .icon-strong-arm-left {
  font-family: 'flexy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-strong-arm-right:before {
  content: "\e000";
}
.icon-strong-arm-left:before {
  content: "\e001";
}

html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #333 url('../images/black_linen_v2.png') center repeat;
  overflow: hidden;
  color: #fff;
}

a, a:visited {
  color: inherit;
}

a:not(.noicon)[href*="github.com"]:before {
  color: inherit;
}

.small-container {
  max-width: 52em;
  margin: 0 auto;
}

#resizerFrame {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 50px #000;
  -webkit-transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
  -moz-transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
  -ms-transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
  -o-transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
  transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
}

#resizerFrameWrapper {
  position: relative;
  height: 100%;
}

#resizerFrameWrapper:before, #resizerFrameWrapper:after {
  font-family: 'flexy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 8em;
  position: absolute;
  top: 1em;
}

#resizerFrameWrapper:before {
  content: "\e001";
  margin-left: -0.725em;
}

#resizerFrameWrapper:after {
  content: "\e000";
  margin-right: -0.725em;
}

#resizer {
  text-align: center;
  line-height: 1;
}

#resizer ul {
  font-size: 13px;
  display: inline-block;
  margin: -0.2em auto 0.2em;
  -webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.25));
  -moz-filter: drop-shadow(0 1px 5px rgba(0,0,0,.25));
  -ms-filter: drop-shadow(0 1px 5px rgba(0,0,0,.25));
  -o-filter: drop-shadow(0 1px 5px rgba(0,0,0,.25));
  filter: drop-shadow(0 1px 5px rgba(0,0,0,.25));
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.logo {
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Gorditas', Verdana, 'museo-slab', Helvetica, Arial, sans-serif;
}

.logo i {
  position: relative;
  top: -0.15em;
}

button.rotate i:before, button[data-rotate] i:before {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.landscape i:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#url {
  font-family: "quicksand", "source-sans-pro", Helvetica, "Trebuchet MS", Arial, sans-serif;
}

[data-max="150"] {
  font-size: 150px;
}

[data-max="95"] {
  font-size: 95px;
}

[data-max="30"] {
  font-size: 30px;
}

@media (max-width: 480px) {
  [data-min="60"] {
    font-size: 60px;
  }
  [data-min="52"] {
    font-size: 52px;
  }
  [data-min="20"] {
    font-size: 20px;
  }
}

input[type="text"] {
  transition: background 500ms, border 500ms;
  border: 1px solid #5a5a5a;
}

input[type="text"]:focus {
  outline: 0;
  border-color: #29b765;
}

a[role="button"] {
  font-family: "museo-slab", "source-sans-pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#bookmarklet, #bookmarkletPin {
  text-decoration: none;
}

#bookmarklet:after {
  content: attr(title);
  font-weight: bold;
  font-family: "museo-slab", "source-sans-pro", Helvetica, Arial, sans-serif;
}

#address-bar {
  position: relative;
  z-index: 3;
}

#ribbon-wrapper {
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 2;
}

#ribbon {
  display: block;
  width: 100px;
  height: 130px;
  margin: -105px auto 0;
  position: relative;
  overflow: hidden;
  transition: margin 500ms;
}

#ribbon:hover, #ribbon:focus {
  margin-top: 0;
}

#ribbon .inset {
  width: 200px;
  height: 55px;
  position: absolute;
  top: -50px;
  left: -10px;
  z-index: 5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0,0,0,0.3);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

#ribbon .content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 10px;
  font-size: 13px;
  color: #fff;
}

#ribbon .content:after {
  content: attr(title);
}

#ribbon .container {
  position: relative;
  width: 100px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}

#ribbon .base {
  height: 100px;
  width: 100px;
background-color: #e74c3c;
border-color: #e43725;
  background: -moz-linear-gradient(top,  #e74c3c 0%, #e43725 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e74c3c), color-stop(100%,#e43725)));
  background: -webkit-linear-gradient(top,  #e74c3c 0%,#e43725 100%);
  background: -o-linear-gradient(top,  #e74c3c 0%,#e43725 100%);
  background: -ms-linear-gradient(top,  #e74c3c 0%,#e43725 100%);
  background: linear-gradient(top,  #e74c3c 0%,#e43725 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c3c', endColorstr='#e43725',GradientType=0 );
  position: relative;
  z-index: 2;
}

#ribbon .base:after {
  content: "";
  position: absolute;
  top: 0;
  width: 86px;
  left: 6px;
  height: 103px;
  border-left: 1px dashed #631a15;
  border-right: 1px dashed #631a15;
}

#ribbon .base:before {
  content: "";
  position: absolute;
  top: 0;
  width: 86px;
  left: 7px;
  height: 103px;
  border-left: 1px dashed #da5050;
  border-right: 1px dashed #da5050;
}

#ribbon .end {
  width: 0;
  height: 0;
  border-top: 30px solid #e43725;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1;
}

.grab {
  cursor: url("../images/openhand.cur") 8 8, move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

